
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #333;
}


form {
  display: flex;
  flex-direction: column;
}


.form-group {
  margin-bottom: 20px;
}


label {
  margin-bottom: 5px;
  color: #555;
}


input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}


button[type="button"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c92f01;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="button"]:hover {
  background-color: #932402;
}


button[type="submit"] {
  padding: 12px 20px;
  background-color: #2d57c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0d329a;
}


p {
  text-align: center;
  color: #333;
  margin-top: 20px;
}
